* {
  margin: 0;
  padding: 0;
}
::selection {
  color: black;
  background: #59723c;
}
/* Navbar Component  */
.navbar-class {
  background-color: #181a25;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}
.navbar-class ul li {
  display: inline-block;
  margin: 5px 10px;
}

.navbar-class a {
  text-decoration: none;
  color: white;
}

/* Home Section  */
.home-section {
  background-color: #181a25;
  color: white;
  padding: 3%;
  height: 75vh;
  border-radius: 0 0 10% 10%;
  text-align: left;
}
.home-section h1 {
  font-size: 3rem;
}

.home-text {
  padding: 2% 0 0 15%;
}

.avatar-img {
  width: 30%;
  position: absolute;
  padding-right: 5%;
  right: 6%;
}

/* Navigate  */
.navigate {
  text-align: center;
  padding-top: 1%;
}
.icon {
  font-size: 2.5rem;
  color: #59723c;
  margin-bottom: 2%;
  animation: 3s scroll infinite;
}

/* Skills Section  */
#skill-section {
  text-align: center;
  padding: 3% 15%;
  margin: auto;
}

.skill-card {
  margin: 8%;
  text-align: left;
}

.skill-img {
  border-radius: 50%;
  float: right;
  position: relative;
  height: 10rem;
}
.each-card {
  align-self: center;
}

@keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-10px);
  }
  66% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
