* {
  margin: 0;
  padding: 0;
}
html > body {
  background-color: #1e2331;
}
::selection {
  color: black;
  background: #59723c;
}

/* Navbar Component  */
.navbar-class {
  background-color: #181a25;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}
.navbar-class ul li {
  display: inline-block;
  margin: 5px 10px;
}
nav > ul > li > :hover {
  color: #59723c;
}

.navbar-class a {
  text-decoration: none;
  color: white;
}
.navbar-class a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.navbar-class a:hover:after {
  width: 100%;
  background: #59723c;
}

/* Home Section  */
.home-section {
  background-color: #181a25;
  color: white;
  padding: 3%;
  height: 75vh;
  border-radius: 0 0 10% 10%;
  box-shadow: 0 5px 5px #10121a;
  text-align: left;
}
.home-section h1 {
  font-size: 3rem;
  color: #59723c;
}

.home-text {
  padding: 2% 0 0 15%;
}

.avatar-img {
  width: 30%;
  position: absolute;
  padding-right: 5%;
  right: 6%;
}

/* Navigate  */
.navigate {
  text-align: center;
  padding-top: 1%;
}
.icon {
  font-size: 2.5rem;
  color: #59723c;
  margin-bottom: 2%;
  animation: 3s scroll infinite;
}

/* Skills Section  */
#skill-section {
  text-align: center;
  padding: 3% 15%;
  color: white;
  margin: auto;
}

.skill-card {
  margin: 8%;
  text-align: left;
  background-color: #181a25;
  padding: 10%;
  box-shadow: 0.5px 0.5px 3px #10121a;
  border-radius: 20px 0 20px 0px;
}

.skill-img {
  border-radius: 50%;
  float: right;
  position: relative;
  height: 10rem;
  box-shadow: 1px 1px 12px #181a25;
}
.each-card {
  align-self: center;
}
.each-card > ul > a {
  color: #71ad2d;
}

.bar {
  display: block;
  background-color: #14151f;
  margin: 2% 0;
  width: 100%;
  height: 5px;
}

.skill-bar {
  position: relative;
  background-color: #59723c;
  margin: 2% 0;
  height: 5px;
  animation: progress 3s;
}

.skill-bar ::before {
  /* content: attr(percent-val); */
  content: "";
  background-color: #71ad2d;
  position: absolute;
  height: 15px;
  width: 15px;
  right: 0;
  font-size: 9px;
  align-content: center;
  text-align: center;
  top: -100%;
  transform: translateX(50%);
  border-radius: 50%;
}

/* Contact Section  */

/* Footer Section  */

.footer {
  background: #1e2331;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.footer p {
  margin: 0;
}

.footer > .icon-container > a {
  color: white;
}

.footer > a > i.fab {
  cursor: pointer;
}
.icon-container {
  font-size: 1.8rem;
  content: "";
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2% 5%;
  border-radius: 50%;
}

.fa-whatsapp:hover {
  animation: social-whatsapp 2s linear infinite;
  text-shadow: #25d366 1px -2px 10px, #dcf8c6 -1px 0px 10px,
    #075e54 1px 1px 10px;
}
.fa-instagram:hover {
  animation: social-instagram 2s linear infinite;
  text-shadow: #fd1d1d 1px 1px 10px, #5851db -1px 1px 10px,
    #fcaf45 -1px -2px 10px;
}
.fa-github:hover {
  animation: social-github 2s linear infinite;
  text-shadow: #6e5494 2px 0px 10px, #634099 -1px -1px 10px,
    #4078c0 1px -1px 10px;
}
/* Animation  */

/* Social Media Icons  */
@keyframes social-whatsapp {
  0% {
    text-shadow: #25d366 1px -2px 10px, #dcf8c6 -1px 0px 10px,
      #075e54 1px 1px 10px;
  }
  30% {
    text-shadow: #25d366 3px -2px 12px, #075e54 -1px 4px 10px,
      #dcf8c6 -3px 5px 11px;
  }
  60% {
    text-shadow: #dcf8c6 -1px -2px 12px, #075e54 -1px 1px 11px,
      #25d366 4px 1px 10px;
  }
  100% {
    text-shadow: #25d366 1px -2px 10px, #dcf8c6 -1px 0px 10px,
      #075e54 1px 1px 10px;
  }
}
@keyframes social-instagram {
  0% {
    text-shadow: #fd1d1d 1px -2px 10px, #5851db -1px 0px 10px,
      #fcaf45 1px 1px 11px;
  }
  30% {
    text-shadow: #5851db -1px 2px 12px, #fd1d1d -1px 1px 10px,
      #fcaf45 1px 3px 9px;
  }
  60% {
    text-shadow: #fcaf45 -1px -1px 11px, #5851db -1px 1px 10px,
      #fd1d1d 4px 1px 10px;
  }
  100% {
    text-shadow: #fd1d1d 1px -2px 10px, #5851db -1px 0px 10px,
      #fcaf45 1px 1px 10px;
  }
}
@keyframes social-github {
  0% {
    text-shadow: #6e5494 1px -2px 10px, #634099 -1px 3px 10px,
      #4078c0 1px 1px 10px;
  }
  30% {
    text-shadow: #634099 3px 2px 10px, #6e5494 1px 4px 10px,
      #4078c0 -3px 5px 10px;
  }
  60% {
    text-shadow: #4078c0 -1px -2px 10px, #634099 -2px 2px 10px,
      #6e5494 4px 1px 10px;
  }
  100% {
    text-shadow: #6e5494 1px -2px 10px, #634099 -1px 0px 10px,
      #4078c0 1px 1px 10px;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-10px);
  }
  66% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Scroll Bar  */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181a25;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #59723c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b6133;
}

/* Submit-Btn  */
@keyframes submit {
  0% {
    background-color: #506836;
  }
  35% {
    background-color: #506836;
  }
  70% {
    background-color: #3f5528;
  }
  100% {
    background-color: #3f5528;
  }
}

/* TESTING  */

.form {
  text-align: center;
  padding: 3% 20%;
  color: white;
  margin: auto;
}

.form-class {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-class .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  margin: 5% 0 5%;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.contact-img {
  border-radius: 50%;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #506836;
  padding: 15%;
}
.form-right {
  background-color: #181a25;
}

.submit-btn {
  background-color: #506836;
  color: white;
  border: none;
  height: 40px;
  width: 30%;
  border-radius: 20px;
}
.submit-btn > a,
.submit-btn > a:hover {
  text-decoration: none;
  color: white;
}
.submit-btn:hover {
  color: white;
  animation: submit 0.8s linear;
  background-color: #3f5528;
}
.form-class > input,
.form-class > textarea {
  border-radius: 100px;
  background-color: #1e2331;
  border: none;
  color: white;
}
.form-class > input::placeholder,
.form-class > textarea::placeholder {
  color: rgb(173, 173, 173);
  padding: 2% 10px;
}
.form-class > input:focus,
.form-class > textarea:focus {
  border-color: #4b6133;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #71ad2d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #608f2a;
}
.form-right > .form-class > input:focus,
.form-right > .form-class > textarea:focus {
  background-color: #181a25;
  color: white;
}

/* _____BOOTSTRAP CAROUSEL_____ */
.carousel-class {
  display: flex;
  justify-content: center;
  margin: 40px 0 30px 0;
}
.carousel-class > #carouselExampleCaptions {
  width: 40%;
}
.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  /* min-height: 500px; */
  height: 100%;
  width: 100%;
}
